In [61]:
import pandas as pd
import numpy as np
import matplotlib.pylab as plt
from sklearn.model_selection import train_test_split

In [63]:
class MyStandardization:

    def __init__(self):
        self.mean=None
        self.sd=None

    def fit(self,X_train):
        self.mean=X_train.mean()
        self.sd=X_train.std()

        print(f"The mean is:{self.mean}")
        print(f"The standard deviation is:{self.sd}")

    def transform(self,X_df):
        X_df=(X_df-self.mean)/self.sd
        return X_df
    
    def fit_transform(self,df):
        self.fit(df)
        return self.transform()

In [67]:
class Normalization:

    def __init__(self):
        self.min=None
        self.max=None

    def fit(self,X_train):
        self.max=X_train.max()
        self.min=X_train.min()

        print(f"The max value is:{self.max}")
        print(f"The min value is:{self.min}")

    def transform(self,X_df):
        X_df=(X_df-self.min)/(self.max-self.min)
        return X_df
    
    def fit_transform(self,df):
        self.fit(df)
        return self.transform()

In [55]:
students=pd.read_csv("placement.csv")
students.shape

(200, 2)

In [56]:
X=students[['cgpa']]
Y=students['package']

In [57]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,random_state=10,test_size=0.2)

In [58]:
scaler=MyStandardization()

In [59]:
scaler.fit(X_train)

The mean is:cgpa    6.990812
dtype: float64
The standard deviation is:cgpa    1.068263
dtype: float64

In [60]:
scaler.transform(X_train)

         cgpa
190 -0.749640
7   -0.225424
26   1.234891
138  0.860451
58  -0.066288
..        ...
113 -0.047566
64   0.345596
15   0.242625
125  0.317513
9    1.234891

[160 rows x 1 columns]

In [68]:
normalizer=Normalization()

In [69]:
normalizer.fit(X_train)

The max value is:cgpa    9.58
dtype: float64
The min value is:cgpa    4.26
dtype: float64

In [70]:
X_train.describe()

             cgpa
count  160.000000
mean     6.990812
std      1.068263
min      4.260000
25%      6.190000
50%      6.970000
75%      7.737500
max      9.580000

In [72]:
normalizer.transform(X_train)

         cgpa
190  0.362782
7    0.468045
26   0.761278
138  0.686090
58   0.500000
..        ...
113  0.503759
64   0.582707
15   0.562030
125  0.577068
9    0.761278

[160 rows x 1 columns]

In [73]:
normalizer.transform(X_test)

         cgpa
59   0.620301
5    0.682331
20   0.567669
198  0.633459
52   0.772556
19   0.605263
162  0.238722
55   0.740602
69   0.571429
2    0.669173
98   0.644737
10   0.199248
75   0.509398
142  0.501880
124  0.338346
63   0.921053
109  0.659774
78   0.437970
111  0.218045
185  0.385338
154  0.530075
130  0.454887
61   0.229323
87   0.719925
102  0.163534
121  0.421053
136  0.259398
1    0.161654
47   0.296992
172  0.501880
159  0.836466
39   0.595865
76   0.503759
91   0.368421
35   0.490602
178  0.731203
127  0.473684
169  0.949248
46   0.340226
174  0.575188